@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav{
    background-color: black;
}

.logo img{
    filter: invert(100%);
    width: 54px;
    opacity: 0.9;
    animation: imgMove 2s ease-out infinite alternate-reverse;
}

@keyframes imgMove{
  to{
   transform: translateX(200px);
  }
}

/* Slideshow container */
.slideshow{
    width: 100%;
    position: relative;
    margin: auto;
}

.count{
   width: 100%;
   text-align: center;
   margin-bottom: 18px;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.about{
  width: 100%;
  margin: auto;
  text-align: center;
  justify-content: center;
}

.about h1{
  color: aliceblue;
  background-color: black;
}

.about h1:hover{
  text-shadow: 1px 1px 10px rgb(56, 56, 233);
  color: aqua;  
}

.para{
  width: 100%;
  text-align: center;
  margin: inherit;
  padding: 30px;
}  

.para:hover{
  background-color: #80808012;
}

.services{
  width: 100%;
  margin: auto;
  text-align: center;
  justify-content: center;
}

.serve{
  width: 100%;
  margin: 10px 0px;
  display: flex;
}

.box{
  margin: 0px 2px;
  margin-bottom: 10px;
  width: 33.33%;
  justify-content: center;
}

.box img{
  width: 100%;
}
.box img:hover{
  border: 1px outset aqua;
}

.box button{
  margin: 4px;
  padding: 4px;
  border-radius: 4px;
  color: aliceblue;
  /* background-color: black; */
}

.block{
   width: 100%; 
   margin: 4px 0;
   display: flex;
}

.block:hover{
  background-color: #80808012;
}

.section{
    margin: inherit;
    padding: 10px;
    width: 50%;
    display: block;
}

.section h2{
  color: aliceblue;
  background-color: black;
  text-align: center;
  padding: 6px;
  margin: 8px;
}

.section p{
  padding: 20px;
  text-align: center;
}

.section h2:hover{
  border: 2px outset aqua;
  color: aqua;  
}

.section img{
   border-radius: 50px;
   animation: imgUp 0.7s linear infinite alternate;
}

@keyframes imgUp{
   to{
    transform: translateY(-10px);
   }
}

.all{
  width: 100%;
  color: aqua;
  background-color: black;
  text-align: center;
}

.owl-carousel{
  width: 100%;
  margin: 10px 0px;
}

.item img{
  width: auto;
  margin: 0px;
  padding: 1px;
}

.item img:hover{
  border: 1px outset aqua;
}

.bottom{
  width: 100%;
  margin: 4px 0px;
  display: flex;
}

.foot{
  width: 33.33%;
  margin: auto;
  text-align: center;
}

.foot:hover{
  border: 1px outset aqua;
}

.foot h3{
  margin: 2px;
  background-color: black;
  color: aliceblue;
}

.foot h3:hover{
  color: aqua;
}

.foot ul{
  padding: 10px;
  list-style: none;
}

.foot ul li:hover{
  color: aqua;
  background-color: rgb(80, 80, 80);
}

h1{
  width: 100%;
  padding: 2px;
  color: aliceblue;
  background-color: black;
  text-align: center;
}

h1:hover{
  color: aqua;  
}

iframe{
  width: 100%;
  margin: auto;
}

footer{
  width: 100%;
}

footer:hover{
  border: 1px inset aqua;
}

footer h6{
  color: aliceblue;
  text-align: center;
  padding: 6px;
  margin-bottom: 0rem;
  background-color: black;
}

footer h6:hover{
  color: aqua;
}

@media(max-width:1134px){
  .block{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section{
    justify-content: center;
    padding: 16px;
    width: 100%;
   }
}

@media(max-width:950px){
  .serve{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .box{
    justify-content: center;
    width: 90%;
  }

}

@media(max-width:464px){
  html{
    font-size: 85%;
  }

  .logo img{
    margin-top: 4px;
    width: 40px;
  }

  @keyframes imgMove{
    to{
     transform: translateX(80px);
    }
  }
}

@media(max-width:364px){
  html{
    font-size: 60%;
  }

  .logo img{
    margin-top: 4px;
    width: 35px;
  }

  .para{
    padding: 10px;
  }
}